<a href="https://colab.research.google.com/github/mady1258/Decision-Trees/blob/main/Exercise/Decision_Trees%20%26%20SVM%20Exersice_answer%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Decision Trees Exersice 

### First Step : Download __[Titanic Data](https://www.kaggle.com/c/titanic/data)__  
- **NOTE** : use only  file `train.csv`from data.
#### 1. Import library of pandas and numpy

In [1]:
import pandas as pd
import numpy as np
import sklearn as skl

#### 2. Load Data using Pandas

In [2]:
df = pd.read_csv('train.csv')

#### 3. Check column in Dataset and Drop useless columns 

- **Hint** : useless columns `Name`, `Ticket`,`PassengerId` and `Cabin`

In [3]:
df_copy = df.copy()

In [4]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [9]:
columns = df_copy[['Name','Ticket','PassengerId','Cabin']]

In [10]:
df_cleaned = df_copy.drop(columns, axis = 1)

In [12]:
df_cleaned.shape

(891, 8)

In [13]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

#### 4. Checking null values in each column and Handle with Mode

- **Hint** : 
- 1. for `Age` use Mode since there is outliers in this column
- 2. for `Embarked` use Mode since it is a categorical variable

In [15]:
df_cleaned['Age'].fillna(df_cleaned['Age'].mode()[0], inplace=True)

In [17]:
df_cleaned['Embarked'].fillna(df_cleaned['Embarked'].mode()[0], inplace=True)

#### 5. Handle Categorical Data using `get_Dummies()` in pandas 

- **Hint** : Handle only columns `Sex` and `Embarked`
- 
 Read this document on how to use [`get_Dummies()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html)

In [19]:
df_cleaned['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [20]:
emb_categ = pd.get_dummies(df_cleaned['Embarked'])

In [21]:
emb_categ

     C  Q  S
0    0  0  1
1    1  0  0
2    0  0  1
3    0  0  1
4    0  0  1
..  .. .. ..
886  0  0  1
887  0  0  1
888  0  0  1
889  1  0  0
890  0  1  0

[891 rows x 3 columns]

#### 6.  Separate  X ( features ) from  Y (labels)
**Hint** : 
- goal : predict only passengers survive and or not be

#### 7. Split data into the Training data and Test data by `random_state=5` and `test_size=0.25`

#### 8. Scale all Data using `StandardScaler`

#### 9.Building your model ( Decision Tree )
 Use the default sklearn parameters with `random_state=1`

#### 10. Use  pruning  decision Tree to determine the best maximum depth for test data

#### 11.Building your model ( Random Forest)
 - Use parameters with  `oob_score=True` , `random_state=1`, ` warm_start=True` and `n_jobs=-1` .
 - Use number of trees in range 200 : 300

#### 12. Calculate Confusion Matrix ,precision,recall and F1-score for the Decision Tree model & Random Forest

#### 13.Building your model (SVM )
 Use the default sklearn parameters with `random_state=1`

#### 12. Calculate Confusion Matrix ,precision,recall and F1-score for the SVM model